.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 76px;
}
.desc {
  font-size: 20px;
}

.brands {
  width: 500px;
  height: 60px;
  position: relative;
  filter: grayscale(1);
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  min-width: 150px;
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}

.imageContainer {
  position: relative;
  flex: 1;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  .desc {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
  .textContainer {
    gap: 30px;
  }
  .brands {
    width: 300px;
    height: 40px;
  }
  .imageContainer {
    display: none;
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: 50px;
  }
  .desc {
    font-size: 20px;
  }
  .button {
    min-width: 100px;
    padding: 10px;
    font-size: 20px;
  }
  .textContainer {
    gap: 30px;
  }
  .brands {
    width: 450px;
    height: 70px;
  }
}
