.container{
display: flex;
flex-wrap: wrap;
}

.post {
    width: 30%;
}


@media (max-width: 1024px){
    .post {
        width: 50%;
    }
}
@media (max-width: 768px){
    .post {
        width: 100%;
    }
}